<div class="chat__sidebar">
    <h3>People</h3>
    <div id="users"></div>
</div>

<div class="chat__main">
    <ul id="messages" class="chat__messages"></ul>

    <div class="chat__footer">
        <form id="message-form">
            <input type="text" name="message" placeholder="Enter your message..." autofocus autocomplete="off">
            <button>Send</button>
        </form>
        <button id="send-location">Send location</button>
    </div>
</div>

