<div class="centered-form__form">
    <form action="/chat">
        <div class="form-field">
            <h3>Join a Chat</h3>
        </div>
        <div class="form-field">
            <label for="name">Display name</label>
            <input type="text" name="name" autofocus>
        </div>
        <div class="form-field">
            <label for="room">Create new room:</label>
            <input type="text" name="newRoom">
<!--            <label for="room">Or select existing room:</label>-->
            <select name="room">
                <option value="">Or select existing room:</option>
            </select>
        </div>
        <div class="form-field">
            <button>Join</button>
        </div>
    </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/javascripts/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
<script src="/javascripts/lib/handlebars.min.js"></script>
