<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<ul id="messages"></ul>

<form id="message-form">
    <input type="text" name="message" placeholder="Enter your message...">
    <button>Send</button>
</form>
<button id="send-location">Send Location</button>
